@using PersonalBlog.Models
@model BlogPost
<div class="post-meta col span-2">
    <span style="border: none; text-align: right; margin-right: .25em;">@Model.CreateDate.ToString("MMM dd")
        <span style="border: none; font-size: 14px; font-weight: normal; color: #707070; padding-top: .25em;">@Model.CreateDate.ToString("h:mm tt")</span>
    </span>
    @if (@Model.Comments.Count > 0) {
        <ul>
            <li>@Model.Comments.Count comments</li>
        </ul>
    }
</div>
<div class="post-content last span-9 nudge-2">
    <h2>@Model.Title
    @if (Request.IsAuthenticated) {
        <a style="position: absolute; right: 24px; padding-top: 4px; font-size: 14px; font-weight: normal;" href="@Url.Action("Edit", "BlogPost", new { id = Model.Id })" title="Edit posting">(edit)</a>
    }
    </h2>
    @Html.Raw(Model.Content)
</div>
