<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
@using PersonalBlog.Controllers
@{
    var siteTitle = @System.Configuration.ConfigurationManager.AppSettings["SiteTitle"];
    if (string.IsNullOrEmpty(siteTitle) == true) { siteTitle = @"Unnamed Site"; }

    if (ViewBag.ShowRightBlocks == null) { ViewBag.ShowRightBlocks = true; }
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@siteTitle - @ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/blog.css")" type="text/css" media="screen" title="blog" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="wrapper" class="span-12">
        <div id="pages">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Archives", "Archive", "Home")</li>
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Admin", "Index", "BlogPost")</li>
                    <li>@Html.ActionLink("Post", "Create", "BlogPost")</li>
                }
            </ul>
            <div style="float: right;">@Html.Partial("_LogOnPartial")</div>
        </div>
        <div id="header" class="col last span-12">
            <img style="float: right; clear: left; border: none; height: auto;" src="@Url.Content("~/Content/images/postcard.jpg")"/>
            <h1>@ViewBag.Title</h1>
            <h2>
                <span class="by">@siteTitle</span></h2>
        </div>
        @if (ViewBag.ShowRightBlocks)
        {
            <div id="content" class="col span-9">
                @RenderBody()
            </div>
            <div id="sidebar" class="col last span-3">
                @RenderSection("sidebar", false)
            </div>
        } else
        {
            <div id="content" class="col span-12">
                @RenderBody()
            </div>
        }
        <div id="footer">
            <p id="foo">
                <em>personal</em> blog, version @typeof(BlogPostController).Assembly.GetName().Version</p>
            <p style="color: #222;">
                Copyright © 2011 Michael Tutty. All rights reserved.</p>
            <p>
                Layout based on the <em>Experimental</em> theme by <a href="http://www.rodrigogalindez.com/wordpress-themes/" title="Rodrigo Galindez" style="color: #555; font-weight: normal; text-decoration: underline;">Rodrigo Galindez</a></p>
        </div>
    </div>
</body>
</html>
